@ana-bg:        rgb(74, 146, 238);
@bastion-bg:    rgb(110, 153, 77);
@doomfist-bg:   rgb(203, 64, 49);
@dVa-bg:        rgb(255, 127, 209);
@genji-bg:      rgb(151, 247, 26);
@hanzo-bg:      rgb(120, 106, 52);
@junkrat-bg:    rgb(253, 219, 104);
@lucio-bg:      rgb(127, 216, 30);
@mccree-bg:     rgb(179, 51, 40);
@mei-bg:        rgb(154, 219, 244);
@moira-bg:      rgb(105, 28, 207);
@mercy-bg:      rgb(245, 224, 112);
@orisa-bg:      rgb(170, 184, 68);
@pharah-bg:     rgb(42, 126, 182);
@reaper-bg:     rgb(39, 39, 37);
@reinhardt-bg:  rgb(160, 160, 159);
@roadhog-bg:    rgb(199, 142, 46);
@soldier76-bg:  rgb(40, 74, 181);
@sombra-bg:     rgb(136, 60, 168);
@symmetra-bg:   rgb(92, 236, 255);
@torbjorn-bg:   rgb(255, 98, 0);
@tracer-bg:     rgb(242, 140, 49);
@widowmaker-bg: rgb(111, 111, 174);
@winston-bg:    rgb(76, 80, 92);
@zarya-bg:      rgb(235, 88, 196);
@zenyatta-bg:   rgb(250, 244, 160);

@ana-txt:        rgb(60, 60, 66);
@bastion-txt:    rgb(108, 248, 252);
@doomfist-txt:   rgb(248, 230, 161);
@dVa-txt:        rgb(73, 143, 225);
@genji-txt:      rgb(59, 54, 64);
@hanzo-txt:      rgb(83, 179, 215);
@junkrat-txt:    rgb(111, 97, 90);
@lucio-txt:      rgb(128, 85, 57);
@mccree-txt:     rgb(254, 248, 129);
@mei-txt:        rgb(101, 36, 11);
@moira-txt:      rgb(230, 118, 72);
@mercy-txt:      rgb(0, 30, 147);
@orisa-txt:      rgb(254, 225, 58);
@pharah-txt:     rgb(248, 215, 115);
@reaper-txt:     rgb(216, 216, 218);
@reinhardt-txt:  rgb(29, 35, 37);
@roadhog-txt:    rgb(108, 80, 61);
@soldier76-txt:  rgb(203, 208, 221);
@sombra-txt:     rgb(249, 222, 255);
@symmetra-txt:   rgb(119, 111, 112);
@torbjorn-txt:   rgb(246, 234, 217);
@tracer-txt:     rgb(44, 28, 20);
@widowmaker-txt: rgb(247, 211, 254);
@winston-txt:    rgb(245, 249, 31);
@zarya-txt:      rgb(126, 224, 251);
@zenyatta-txt:   rgb(66, 161, 199);
