@import "./vars";
@import "./herocards";
@import "./primaryajust";
@import "./heroclass";

body {
  background-color: @bgColor;
  width: 100%;
  height: 100%;
}

#root {
  &, > * {
    width: 100%;
    height: 100%;
  }
}

.pie-chart {
  .chartjs-render-monitor {
    width: 125% !important;
    height: 125% !important;
    position: relative;
    left: -15%;
  }
}

.table-label-font {
  font-weight: 900;
}

.profile-list-avatar {
  .ant-avatar {
    height: 50px;
  }
  .ant-avatar > img {
    height: 130%;
  }
}

.account-tag {
  width:  300px;
  margin-right: 20px;
  .account-tag-level {
    // border: solid 1px red;
    width:  100%;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
  }
  .account-tag-rank {
    // border: solid 1px blue;
    position: relative;
    top: -105px;
    width: 33%;
    height: 33%;
    margin: auto;
    display: block;
    
  }
  .account-tag-prestige {
    // border: solid 1px green;
    top: -210px;
    width:  100%;
    height: 100%;
    position: relative;
    margin: auto;
    display: block;
 }
}

.ant-transfer.multi-account-transfer{
  .ant-transfer-list {
    width: 220px;
    height: 350px;
  }
}

.account-form-modal {
  .ant-radio-button-wrapper {
    width: 33%;
  }
}

.ant-layout {
  .ant-layout-content {
    background-color: #C9C9C9;
    padding: 12px;
    .ant-tabs {
      .ant-tabs-bar {
        border-bottom: none;
      }
      .ant-tabs-tab-active {
        color: @primaryColor !important;
      }
    }
  }
  .ant-layout-sider {
    .ant-menu {
      .ant-menu-item-selected {
        border-right: solid 5px @secondaryColor;
        background-color: transparent;
      }
    }

    .action-buttons {
      .ant-btn {
        width: 100%;
        color: #fff;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    .ant-menu-item {
      .account-item-text {
        text-align: center;
      }
    }

    .ant-menu-inline-collapsed {
      .ant-menu-item {
        padding: 0 !important;
      }
      .account-item {
        margin-left: 25%;
        text-align: center;
        .account-item-text {
          margin-left: 32px;
        }
      }
    }
  }
  .ant-layout-header {
    .collapse-trigger {
    }
    .settings-trigger {
      text-align: right;
    }
  }
}
