@import "./vars";

.ant-card {
  background-color: @softBgColor;
}

.ant-layout-header {
  background: @menuBgColor;
}

.ant-switch-checked {
  background-color: @themeColor;
}

.ant-btn {
  color: @buttonTextColor;
  background-color: @themeColor;
}

.ant-btn:hover {
  color: @buttonTextColor;
  background-color: @invertedColor;
}

.ant-btn-primary:focus {
  color: @buttonTextColor;
  background-color: darken(@invertedColor, 20%)
}

.ant-btn-primary {
  color: @buttonTextColor;
  background-color: @themeColor;
  border-color: @themeColor;
}

.ant-btn-primary:hover {
  color: @buttonTextColor;
  background-color: @invertedColor;
}

.ant-btn-primary:focus {
  color: @buttonTextColor;
  background-color: darken(@invertedColor, 20%)
}

.ant-pagination .ant-pagination-item-active {
  background-color: @themeColor;
}

.ant-menu-item .anticon {
  background-color: @themeColor;
  color: @invertedColor;
}

.ant-menu .ant-menu-item-selected {
  background-color: @themeColor;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: @themeColor;
}
