@import "~antd/lib/style/themes/default";

@themeColor: #DDAD3B;
@invertedColor: #5662C1;
@buttonTextColor: #fff;

@bgColor:  rgb(55, 55, 55);
@softBgColor:  rgb(81, 81, 81);
@menuBgColor: rgb(115,115,115);
