@import "~antd/lib/style/themes/default";

@themeColor: #D02AD2;
@invertedColor: #18F52F;
@buttonTextColor: #fff;

@bgColor:  rgb(55, 55, 55);
@softBgColor:  rgb(81, 81, 81);
@menuBgColor: rgb(115,115,115);
