@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.widowmaker .ant-progress-outer .ant-progress-inner .ant-progress-bg {
  background-color: #8C8C1B;
}

.mccree .ant-progress-outer .ant-progress-inner .ant-progress-bg {
  background-color: rgb(141, 57, 57);
}

.bgtest .ant-modal-content {
  background-color: #21E43E;
}
